.banner{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    background-image: url(../../assets/imgs/kayky-image.png);
    height: 800px;
    width: 100%;
    background-position: right top;
    background-repeat: no-repeat;
    border-bottom: 10px solid #000000;
    background-size: contain;
}

.banner .box{
    display: flex;
    height: 150px;
    width: 700px;
    flex-direction: column;
    margin-top: 115px;
    margin-left: 130px;
    align-items: center;
    gap: 30px;
}
