.wrapper-card {
    display: flex;
    justify-content: center;
}

.wrapper-card .card-projects {
    width: 100%;
    overflow: hidden;
}

.wrapper-card .elements {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

