.wrapper-skill {
    display: flex;
    flex-wrap: wrap;
    margin-left: 350px;
    margin-right: auto;
}

.wrapper-skill .skill {
    width: 430px;
    margin-bottom: 40px;
}

.wrapper-skill .skill-space:nth-child(odd) {
    margin-right: 100px;
}